*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;

}



                                                    /* common */


.center-x-y{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.row, .col{
    display: flex;
}


ul{
    list-style-type: none;
}

a{
    color:#0061FF;
    text-decoration: none;
}


.flex-ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.blue-button{
    background-color: #0061FF;
    color:white;
    border: none;
}

.container{
    width: 55%;
    margin: 0 auto;
}

.bold, h3, h4{

    font-weight: 700;
}

.grey{
    color:grey;
}

.blue{
    color: #0061FF;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.simple-button-type-2{
    background-color: white;
    text-align: center;
    padding: 10px 40px;
    color:black;
}

                                                    /* header */

header{
    position: fixed;
    width: 100%;
    padding: 20px;
    background-color: white;
    display:flex;
    justify-content: space-between;
    top:0;
    z-index:1;
    box-shadow: 0 0 5px 1px rgb(194, 194, 194);
}


header a{
    color:black;
}


.logo{
    width: 100px;
    height: 20px;
    margin-right: 5px;
}

.ul-left-header{
    width: calc(100% - 100px);
}

.left-col-header{
    width:35%;
    align-items: center;
}

.right-col-header{
    width:30%;
    justify-content: flex-end;
    align-items: center;
}

.ul-right-header{
    width: calc(100% - 50px);
}

header button{
    width: 50px;
    padding: 5px;
}




                                                            /* main */

            /* jumbo */


.jumbo-section{
    padding-top: 140px;
    background-color: #B4D0E7;
}

.jumbo-container{
    width: 70%;
    margin: 0 auto;
}


h1{
    font-weight: 800;
    font-size: 56px;
}

.jumbo-text{
    margin-top: 40px;
    width: 30%;
    position: relative;
    padding-bottom: 20px;
}


.jumbo-img{
    width: 70%;
}

.jumbo-img img{
    width: 100%;
    position: relative;
    top: 40px;
}

.jumbo-button{
    margin: 25px 0;
    display: inline-block;
    padding: 10px;
}

.jumbo-arrow-down{
    margin-top: 50px;
    font-size: 40px;
}

h2{
    font-size: 32px;

}

            /* business-plan */

.section-business-plan h2{
    margin-top:100px;
    margin-bottom: 50px;
}



label{
    align-self: baseline;
    margin-right: 30px;
}

.radio-buttons{
    display: flex;
    margin-bottom: 50px;
}

.row-plan-container{
    justify-content: space-between;
}

.business-plan-col{
    border: 1px solid rgb(199, 199, 199);
    width: 30%;
    margin-bottom: 50px;
}

.plan-singolo{
    border-bottom: 1px solid rgb(199, 199, 199);
}

.top-plan{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 8px 0;
}

.main-plan{
    padding: 30px;
}

.plan-title{
    font-size: 20px;
    margin-bottom: 10px;
}

.icon-plan{
    position: relative;
    top: 2px;
    padding-right: 5px;
}

.cost-plan{
    margin-bottom: 10px;
}

.plan-service{
    margin: 40px 0;
}

.main-plan li{
    margin-bottom: 15px;
    display: flex;
}

.plan-service p{
    padding-left: 5px;
}

.icon-plan-list{
    position: relative;
    top: 2px;
}

.plan-button{
    text-align: center;
    padding: 10px;
}

.underline{
    text-decoration: underline;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.partial-border{
    margin-top: 30px;
    width: 25%;
    border-top:1px solid rgb(199, 199, 199);
}

.plan-benefit h4{
    margin: 30px 0 20px;
}


.row-footer-plan{
    border: 1px solid rgb(199, 199, 199);
    margin-bottom: 100px;
}

.row-footer-plan h3, .partner-text h3{
    font-size: 18px;
    margin-bottom: 10px;
}

.main-plan-footer{
    display: flex;
    justify-content: space-between;
}

.button-footer-plan{
    width: 30%;
    align-self: flex-start;
}

.partner-img{
    width: 60%;
}

.partner-container{
    display: flex;
}

.partner-text{
    padding: 50px;
}

.partner-text p{
    font-size: 13px;
}

.simple-button{
    border: 1px solid black;
    padding:10px 15px;
    display: inline-block;
    margin-top: 30px;
    color:black;
}

.partner-section{
    margin-bottom: 120px;
}


.function-section{
    margin-bottom: 180px;
}

.function-row{
    justify-content: space-between;
}
.function-col{
    width: 30%;
}

.function-col img{
    width: 100%;
}

.function-section h2{
    margin-bottom: 50px;
}

.function-col h3{
    font-size: 18px;
    margin-bottom: 20px;
}

.team-top-container{
    width:60%;
    margin-bottom:100px;
}

.team-top-container a{
    margin-bottom: 100px;
}

.plan-service{
    min-height: calc(100vh / 5);
}

.team-main-col{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}


.team-section{
    margin-bottom: 140px;
}

.team-central-col{
    background-color: #F5F5F5;
    padding: 40px;
}

.team-central-col img{
    width: calc(100vw / 6);
}

.row-50{
    height: 50%;
    width: 100%;
}

.team-square{
    height:100%;
    width: 100%;
    position: relative;
}

.designit-square{
    background-color: #A2D39B;
    box-shadow:0px 0px 0px 15px #D1E9CD inset;
}

.team-square img{
    width: calc(100vw / 12);
    filter: brightness(0) invert(1);
}

.asu-square{
    background-color: #61082B;
}

.uff-square{
    background-color: #0093CE;
}

.topps-square{
    background-color: #FF1C1C;
}

.wbr-square{
    background-color: #D5001F;
}

.hearst-square{
    background-color: #B4D0E7;
}

.lp-square{
    background-color: #0D2481;
}

.cc-square{
    background-color: #FFD830;
}

.central-p-team{
    margin: 30px 0;
    font-size: 13px;
}

.team-footer-bg{
    background-color: #B4D0E7;
    padding: 100px 0;
}

.team-footer-container{
    justify-content: space-between;
    align-items: flex-start;
}

.team-footer-container h2{
    color:#61082B;
    width: 50%;
}

/* accordion */

.accordion{
    background-color: transparent;
    width: 100%;
    margin-bottom: 120px;
    margin-top:30px;
}

#first-li-accordion{
    border: 1px rgb(150, 150, 150);
    border-style: solid none solid none;
}

.li-accordion{
    border:1px rgb(150, 150, 150);
    border-style: none none solid none;
}

.li-accordion, .first-li-accordion{
    padding: 30px 0;
}

.li-accordion:hover{
    background-color: #F0F1F3;
}

                                                /* footer */

footer{
    background-color:black;
    padding: 80px 0;
}

.footer-container{
    width: 65%;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-partial-border-container{
    width: 65%;
    margin: 0 auto;    
}

.footer-partial-border{
    margin-top: 80px;
    margin-bottom: 50px;
    width: 10%;
    border-top:1px solid white;
}

footer h3{
    color:white;
    font-size: 18px;
    margin-bottom: 20px;
}


.footer-li{
    color:white;
    font-size: 13px;
}

footer li:not(.not){
    margin-bottom: 10px;
}

.select-lang{
    background-color: transparent;
    color:darkgrey;
    border:none;
}