*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;

}

body{
}

                                                    /* common */

.row, .col{
    display: flex;
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}


.flex-ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.blue-button{
    background-color: #0061FF;
    color:white;
    border: none;
}

.container{
    width: 50%;
    margin: 0 auto;
}



                                                    /* header */

header{
    position: fixed;
    width: 100%;
    padding: 20px;
    background-color: white;
    display:flex;
    justify-content: space-between;
    top:0;
    z-index:1;
}


header a{
    color:black;
}


.logo{
    width: 100px;
    height: 20px;
    margin-right: 5px;
}

.ul-left-header{
    width: calc(100% - 100px);
}

.left-col-header{
    width:35%;
    align-items: center;
}

.right-col-header{
    width:30%;
    justify-content: flex-end;
    align-items: center;
}

.ul-right-header{
    width: calc(100% - 50px);
}

header button{
    width: 50px;
    padding: 5px;
}




                                                            /* main */

            /* jumbo */


.jumbo-section{
    padding-top: 140px;
    background-color: #B4D0E7;
}

.jumbo-container{
    width: 60%;
    margin: 0 auto;
}


h1{
    font-weight: 800;
    font-size: 56px;
}

.jumbo-text{
    margin-top: 40px;
    width: 30%;
    position: relative;
    padding-bottom: 20px;
}


.jumbo-img{
    width: 70%;
}

.jumbo-img img{
    width: 100%;
    position: relative;
    top: 40px;
}

.jumbo-button{
    margin: 25px 0;
    display: inline-block;
    padding: 10px;
}

.jumbo-arrow-down{
    margin-top: 50px;
    font-size: 40px;
}

            /* business-plan */

h2{
    font-size: 32px;
    margin-top:100px;
    margin-bottom: 50px;
}



label{
    align-self: baseline;
    margin-right: 30px;
}

.radio-buttons{
    display: flex;
    margin-bottom: 100px;
}